
<script>
    $.ajax({
        url: 'MenuHandler.ashx',
        method: 'get',
        dataType: 'json',
        success: (data) => {
            buildMenu($('#menu'), data);
            $('#menu').menu();
        }
    });

    let buildMenu = (parent, items) => {
        $.each(items, () => {
            let li = $('<li>' + this.MenuContext + '</li>');
            if (!this.Active) {
                li.addClass('ul-class-disabled');
            }
            li.appendTo(parent);

            if (this.List && this.List.length) {
                let ul = $('<ul></ul>');
                ul.appendTo(li);
                buildMenu(li, this.List);
            }
        });
    }
</script>
<div>
  <h3>Hi there...</h3>
</div>
